:root {
  /* pRIMARY */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body,
html {
  display: grid;
  place-items: center;
  min-height: 100%;
  font-family: "Lexend Deca", sans-serif;
  font-size: clamp(15px, 50%, 20px);
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
}
main > div {
  display: flex;
  flex-direction: column;
  padding: 16px max(50px, 32px);
}
main > div p {
  color: var(--transparent-white-paragraphs);
  line-height: 1.6;
  letter-spacing: 2;
}

main > div h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2rem;
  color: var(--very-light-gray);
}

main > div img {
  width: 70px;
  height: 45px;
  padding-top: 25px;
}
.sedans {
  background-color: var(--bright-orange);
  color: var(--bright-orange);
}
.suvs {
  background-color: var(--dark-cyan);
  color: var(--dark-cyan);
}
.luxury {
  background-color: var(--very-dark-cyan);
  color: var(--very-dark-cyan);
}
.button {
  padding: 13px 25px;
  background-color: var(--transparent-white-paragraphs);
  color: inherit;
  box-sizing: border-box;
  width: fit-content;
  border-radius: 50px;
  margin: 50px 0 32px 0;
  border: 2px solid var(--transparent-white-paragraphs);
}
.button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--transparent-white-paragraphs);
  color: var(--transparent-white-paragraphs);
}

@media only screen and (max-width: 500px) {
  main {
    width: 90%;
    padding: 20px;
    font-size: 12px;
  }
  main > div {
    padding: 16px 50px;
  }
  .button {
    margin: 20px 0 10px 0;
    padding: 5px 10px;
  }
  main > div img {
    width: 50px;
    height: 30px;
  }
  main > div p {
    margin: 0;
  }
  main > div h2 {
    margin: 15px 0;
  }
}
