:root {
  /* pRIMARY */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

body,
html {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 700px;
}
main > div {
  display: flex;
  flex-direction: column;
  padding: 16px 32px;
  color: var(--transparent-white-paragraphs);
}
main > div h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  font-size: 2rem;
}
.sedans {
  background-color: var(--bright-orange);
}
.suvs {
  background-color: var(--dark-cyan);
}
.luxury {
  background-color: var(--very-dark-cyan);
}
